.blue {
  width: 100px;
  height: 100px;
  background-color: blue;
}

.red {
  width: 100px;
  height: 100px;
  background-color: red;
}

.yellow {
  width: 100px;
  height: 100px;
  background-color: yellow;
}

.green {
  width: 100px;
  height: 100px;
  background-color: green;
  position: fixed;
}
 